{% extends "layout.html" %} 
{% load crispy_forms_tags %}
{% load i18n %} 
{% block title %} Logout {% endblock title %} 

{% block content %}
    <div class="position-relative mt-2">
        <div class="position-absolute top-50 start-50 translate-middle rounded m-5 bg-info p-5">
            <h2 class="text-center mb-2">Logout</h2>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <h3 class="mx-auto">Are you sure?</h3>
                <button class="btn btn-danger ">Logout</button>
            </form>
        </div>
    </div>
{% endblock content %}
