{% extends "layout.html" %}
{% load static %}

{% block title %}Product Details{% endblock title %}

{% block content %}
{% if messages %}
      {% include "components/messages.html" %}
      {% endif %}
<div class="container my-5 shadow p-4 rounded-4" id="productdetails">
            <div class="d-md-flex justify-content-evenly p-2">
                <div class="col-md-4">
                    <img src="{{item.image.url}}" alt="Item 1" width="100%" loading="lazy">
                </div>
                <div class="col-md-7 ">
                    <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <a href="/" class="text-decoration-none">Home</a> /
                        <a href="/products" class="text-decoration-none">Products</a> /
                        <small class="text-muted">Item Name</small>
                    </p>
                    <p class = "badge bg-danger fs-5 ">{{item.tag}}</p>
                    </div>
                    <h1 class="mb-0">{{item.title}}</h1>
                    <small>{{item.category}}</small>

                    <h5 class="fw-bold mt-3">Price: <small class="text-decoration-line-through text-muted fw-light">${{item.actual_price}}</small> <span class="text-success">${{item.discount_price}}</span> </h5>
                        {% if item.stock > 5 %}
                        <p class="bg-warning badge px-3 py-2 fs-6 text-dark">In Stock</p>
                        {% else %}
                        <p class="bg-danger badge px-3 py-2 fs-6 text-white">Out of Stock</p>
                        {% endif %}

                    <div class="d-flex mt-4">
                        <a href="{% url 'add-to-cart' item.id %}" class="btn btn-warning me-3 {% if item.stock < 5 %}d-none {% endif %}">Add to Cart</a>
                        <a href="#" class="btn btn-outline-success">Add to Wishlist</a>
                    </div>
                    
                </div>
            </div>
            <hr>
            <p class="fw-bold">Description: <span class="text-muted fw-light">{{item.description}}</span> </p>
        </div>
{% endblock %} 
